<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>User Profile</h2>
    <table>
        <tr>
            <td>Name:</td>
            <td>{{A[0]}}</td>
        </tr>
        <tr>  
            <td>Registration Number:</td>
            <td>{{A[1]}}</td>
        </tr>    
        <tr>    
            <td>DOB:</td>
            <td>{{A[2]}}</td>
        </tr>
        <tr>
            <td>Address:</td>
            <td>{{A[3]}}</td>
        </tr>
        <tr>
            <td>Phone Number:</td>
            <td>{{A[4]}}</td>
        </tr>
    </table>
    <a href="/sign-out"><button>sign-out</button></a>
    <a href="/update-profile"><button>Update Profile</button></a>
</body>
</html>