.container{
    margin-top: 40px;
    margin-right: 50px;
    height:100px;
    width:600px;
    float: right;
}

.main{
    background-color: lightgray;
    padding: 5px;
}

.box{
    margin-top: 8px;
    border: 7px solid black;
    border-style: dotted solid dashed double;
}