.personal{
    background-color: aquamarine;
    color:black;
    position:relative;
    text-align: center;
}
.flex-s{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
.x{
    justify-content:center;
}
.x a{
    margin:5px;
}
.movie{
    text-align: center;
    color: white;
    width:50%;
    background-color: grey;
    
}
.parental{
    color:blue;
    text-align: center;
    width:50%;
    background-color: lightgreen;
    
}
.netlinks{
    color:red;
    background-color:bisque;
    text-align:center;
}