body{
    background-color:rgb(211, 238, 248);
}
section{
    width:100%;
    margin-top: -20px;
    margin-left: -8px;
}
section:hover{
    background-color:rgb(136, 255, 136);
    color:brown;
}
p{
    width:100%;
    font-weight:bold;
    margin-left:15px;
}

