
table{
    margin-top:200px;
    margin-left: auto;
    margin-right: auto;
}
.btns{
    border-radius:30px;
    width:100px;
    height:60px;
    text-align:center;
    font-size: 30px;
    font-weight: bold;
}
#output{
    text-align:right;
    font-size: 40px;
    border: 2px solid black;
    border-radius:20px;
    width:100%;
    padding-right: 5px;
    background-color:white;
}
#otp{
    width:100%;
}
.num{
    color: black;
}
.ope{
    color:rgb(140, 0, 255);
    
}
.switch{
    width:100%;
    border-radius:30px;
    color:rgb(219, 124, 0)
}
body{
    background-color:rgb(223, 240, 255);
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}